*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
:root {
    --blanco :#e2e1e9;
    --negro-normal:#201E1C;
    --dorado: #b27633;
    --rojo: #772e39;
    --violeta: blueviolet;
    --hospital-green:#ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}


nav {
    display: flex;
    justify-content:space-between;
    background: linear-gradient(207.8deg, var(--dorado) 16.69%, var(--rojo) 100%, var(--blanco) 17%);
}

.logo11{
    width: 40px;
}

.menu11{
    cursor: pointer;
    display: block;
    margin-left: 10px;
}
.nav_primer ul{
    display: none;
}

.nav_primer li {
    margin: 10px;
}

.nav_primer li ul{
    display: block;
    opacity: 0;
    position: absolute;
    transition: opacity 400ms;
    transition-delay: 300ms;
    z-index: 3;
}

.nav_primer li:hover > ul {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 300ms;
}

.inactivo {
    display: none;
}

.mobile-menu{
    position: absolute;
    top: 38px;
    padding: 10px;
    z-index: 3;
    width: 100%;
    height: 700px;
    background-color: var(--blanco);
}

.mobile-menu a{
    font-weight: bold;
    font-size: var(--lg);
}

.mobile-menu ul{
    padding: 10px;
    margin: 10px 0 0;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--blanco);
}

.sign-out{
    color: var(--hospital-green) !important;
    font-size: var(--sm);
}
.mobile-menu ul:last-child{
    margin-top: 10px;
}

.main-seccion-principal {
    width: 100%;
    height: 150px;
    position: relative;
    /* lo colocamos como relative al padre para que los hijos 
    absolute no se muevan a otros contenedores exteriores*/
    perspective: 10px;
    /*La perspectiva tiene que ir en el padre
    y nos indicara en este caso en pixeles la profundidad*/
    overflow-x: hidden;
    /* con hidden no habra scroll pero se le puede poner*/
    overflow-y: scroll;
    /*y con exitira un scroll*/
}
.imagen{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.seccion-cielo{
    width: 100%;
    height: auto;
    transform: translateZ(0px) scale(1);
    /*el que cre el efecto es el traslateZ
    en este caso como es el fondo tendra 0 osea estara a la altura
    de la profundidad indicada en perspectiva*/
    transform-origin: 0 50%;
    /*En este origin indicamos que inicie al 50% (la mitas)
    en x*/
}
.seccion-campo{
    text-align: center;
    width: 100%;
    height: auto;
    transform: translateZ(3px) scale(1);
    /*el traslateZ esta 3 px estara menos profundo de lo 10 asignado
    en perpectiva*/
    top: 300px;
    transform-origin: 0 50%;
   
}
.seccion-campo h1{
    color: var(--violeta);
}
.seccion-nubes{
    width: 100%;
    height: auto;
    transform: translateZ(6px) scale(0.574);
    /*Como podemos ver en las nuves con el texto que este en este
    div podemos ver que esta es la imagen que esta menos profunda
    y por lo tanto esla que esta encima de todas*/
    transform-origin: 0 50%;

}
.seccion-caida{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 80px;
transition: transform 800ms;
}
.seccion-caida img{
    width: 80px;
}
.seccion-caida:hover{
    transform: rotate(-45deg) translateY(15px);
}

.texto_seccion_inicio .header--boton{
    position: absolute;
    left: calc(50% - 118px); /* calcula a la mitad menos 118 px*/
    top: 130px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 233px;
    height: 48px;
    background-color: var(--dorado);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--negro-normal);
}
.header--boton span {
    display: inline-block; /*convertimos en inline-block para porder darle dimensiones a la etiqueta a*/
    width: 13px;
    height: 8px;
    margin-left: 1px;
    background-image: url("./layers/Vector-3.svg");
}

.main_seccion_titulo_inicio{
    display: block;
    color: black;
}

.texto_seccion_inicio{
    text-align: center;
    background-color: var(--rojo);
    height: 75vh;
}
.texto_seccion_inicio img{
    width: 100%;
}
.texto-cumpleaños{
    text-align: center;
    background: linear-gradient(207.8deg, var(--rojo) 16.69%, var(--dorado) 100%);
    height: 100%;
}
.texto-cumpleaños img{
    width: 100%;
}
.texto-avisos{
    text-align: center;
    background-color: var(--dorado) ;
    height: 100%;
}
.inicio_pie{
    display: flex;
    position: absolute;
    bottom: 100;
    background-color: var(--dorado) ;
    width: 100%;
}
.inicio_pie img{
    width: 35px;
}
.main_seccion_titulo_c5 h1{
text-align: center;
}

.c-insgth{
    width: 100%;
}

.c-insgth-contenedor{
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.styled-table {
     border-collapse: collapse;
      margin: 25px 0;
       font-size: 1em;
        font-family: sans-serif;
         min-width: 450px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

          .styled-table thead tr { background-color: var(--rojo);
             color: var(--blanco) ;
              text-align: middle; }

              .styled-table th, .styled-table td { padding: 12px 15px; }

              .styled-table tbody tr { border-bottom: 1px solid var(--blanco) ;
             } 
             .styled-table tbody tr:nth-of-type(even) { background-color: var(--blanco) ;
             } 
             .styled-table tbody tr:last-of-type { border-bottom: 2px solid #009879; }



             .styled-table-incio {
                border-collapse: collapse;
                 margin: 25px 0;
                  font-size: 1em;
                   font-family: sans-serif;
                    min-width: 100%;
                     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
           
                     .styled-table-incio thead tr { background-color: var(--rojo);
                        color: var(--blanco) ;
                         text-align: middle; }
           
                         .styled-table-incio th, .styled-table-incio td { padding: 12px 15px; }
           
                         .styled-table-incio tbody tr { border-bottom: 1px solid var(--blanco) ;
                        } 
                        .styled-table-incio tbody tr:nth-of-type(even) { background-color: var(--blanco) ;
                        } 
                        .styled-table-incio tbody tr:last-of-type { border-bottom: 2px solid var(--negro-normal); }

                        .texto-avisos img{
                            width: 100%;
                        }






/*Hecho por Vladimir Farrera Vera*/
