
.texto_seccion_inicio{
    height: 95%;
}
.menu11{
    display: none;
}
.logo11{
    display: none;
}

nav {
    display: inline;
}

.nav_primer ul{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(119deg, var(--dorado-claro) 17%, var(--principal) 16%, var(--secundario)  100%);
    }
    .nav_primer-c5 ul{
        display: flex;
    justify-content: space-between;
        background-image: linear-gradient(119deg, var(--dorado-claro) 35%, var(--principal)  16%, var(--secundario)  100%);
    }
    .nav_primer-calea ul{
        display: flex;
    justify-content: space-between;
        background-image: linear-gradient(119deg, var(--dorado-claro) 55%, var(--principal) 16%, var(--secundario)  100%);
    }
    
    .nav_primer-cargo ul{
        display: flex;
    justify-content: space-between;
        background-image: linear-gradient(119deg, var(--dorado-claro) 77%, var(--principal) 16%, var(--secundario)  100%);
    }
    
    .nav_primer-c-insgth ul{
        display: flex;
    justify-content: space-between;
        background: var(--dorado-claro);
    }

    .mobile-menu{
        display: none;
    }

    .logo {
        display: none;
      }

    .texto-avisos img{
        width: 105px;
    }

    .jefa_lopidio img{
        width: 250vh;
    }